@theme {
  --container-full: 100%;
  --color-*: initial;

  --color-blue-10: #f0f5fc;
  --color-blue-20: #cfe0fc;
  --color-blue-30: #accbfc;
  --color-blue-40: #84b1fa;
  --color-blue-50: #5691f0;
  --color-blue-60: #3272d9;
  --color-blue-70: #1d5bbf;
  --color-blue-80: #114599;
  --color-blue-90: #103570;
  --color-blue-100: #15233b;

  --color-bronze-10: #fcf2e6;
  --color-bronze-20: #fad8af;
  --color-bronze-30: #f5bc76;
  --color-bronze-40: #e89c3f;
  --color-bronze-50: #cf7911;
  --color-bronze-60: #ad5f00;
  --color-bronze-70: #8a4d03;
  --color-bronze-80: #693d07;
  --color-bronze-90: #4d2f0b;
  --color-bronze-100: #33210c;

  --color-dusk-10: #f4f2f7;
  --color-dusk-20: #e3dcf7;
  --color-dusk-30: #cec2f0;
  --color-dusk-40: #b5a6e3;
  --color-dusk-50: #9886cf;
  --color-dusk-60: #7a68b3;
  --color-dusk-70: #645396;
  --color-dusk-80: #4f4178;
  --color-dusk-90: #3a3154;
  --color-dusk-100: #282436;

  --color-gray-10: #f5f7fa;
  --color-gray-20: #ebeff5;
  --color-gray-30: #dde3ed;
  --color-gray-40: #c8d1e0;
  --color-gray-50: #afbacc;
  --color-gray-60: #8e99ab;
  --color-gray-70: #707a8a;
  --color-gray-80: #58606e;
  --color-gray-90: #434a54;
  --color-gray-100: #333840;

  --color-green-10: #e1faeb;
  --color-green-20: #abedc5;
  --color-green-30: #7ddba3;
  --color-green-40: #57c282;
  --color-green-50: #3ba164;
  --color-green-60: #2a854e;
  --color-green-70: #20693d;
  --color-green-80: #1a5230;
  --color-green-90: #153d25;
  --color-green-100: #112b1b;

  --color-indigo-10: #f2f2fc;
  --color-indigo-20: #dcdcfc;
  --color-indigo-30: #c2c2fc;
  --color-indigo-40: #a7a7fa;
  --color-indigo-50: #8585f2;
  --color-indigo-60: #6767e6;
  --color-indigo-70: #4d4dd1;
  --color-indigo-80: #3737b3;
  --color-indigo-90: #28288a;
  --color-indigo-100: #202057;

  --color-magenta-10: #faf0f4;
  --color-magenta-20: #fad4e4;
  --color-magenta-30: #fab4d1;
  --color-magenta-40: #f78bb8;
  --color-magenta-50: #ed5393;
  --color-magenta-60: #d6246e;
  --color-magenta-70: #b01355;
  --color-magenta-80: #8a1244;
  --color-magenta-90: #611535;
  --color-magenta-100: #421527;

  --color-purple-10: #f5f0fa;
  --color-purple-20: #ead9fa;
  --color-purple-30: #dabcf7;
  --color-purple-40: #c79bf2;
  --color-purple-50: #ae74e8;
  --color-purple-60: #9656d6;
  --color-purple-70: #7d3cbd;
  --color-purple-80: #642b9e;
  --color-purple-90: #4b2175;
  --color-purple-100: #371c52;

  --color-red-10: #faf0f0;
  --color-red-20: #fad4d4;
  --color-red-30: #fab6b6;
  --color-red-40: #fa8e8e;
  --color-red-50: #f55353;
  --color-red-60: #de1b1b;
  --color-red-70: #b80d0d;
  --color-red-80: #8f0e0e;
  --color-red-90: #661414;
  --color-red-100: #451717;

  --color-sky-10: #e8f4fa;
  --color-sky-20: #bbe5fa;
  --color-sky-30: #8dd4f7;
  --color-sky-40: #53baed;
  --color-sky-50: #229ad6;
  --color-sky-60: #0c7bb3;
  --color-sky-70: #066391;
  --color-sky-80: #064d70;
  --color-sky-90: #093952;
  --color-sky-100: #0c2938;

  --color-slate-10: #edf4f7;
  --color-slate-20: #cbe3f5;
  --color-slate-30: #a7ceeb;
  --color-slate-40: #84b7db;
  --color-slate-50: #5e95bd;
  --color-slate-60: #48799c;
  --color-slate-70: #376180;
  --color-slate-80: #2d4d63;
  --color-slate-90: #243947;
  --color-slate-100: #1d2830;

  --color-teal-10: #e4f7f6;
  --color-teal-20: #a8ede9;
  --color-teal-30: #6cd9d2;
  --color-teal-40: #45bfb7;
  --color-teal-50: #28a199;
  --color-teal-60: #17827b;
  --color-teal-70: #116963;
  --color-teal-80: #0d524d;
  --color-teal-90: #0b3d3a;
  --color-teal-100: #092b29;

  --color-black: #1d1f24;
  --color-white: #ffffff;
  --color-transparent: rgba(0, 0, 0, 0);
}

@layer base {
  dark {
    --color-blue-100: #f0f5fc;
    --color-blue-90: #cfe0fc;
    --color-blue-80: #accbfc;
    --color-blue-70: #84b1fa;
    --color-blue-60: #5691f0;
    --color-blue-50: #3272d9;
    --color-blue-40: #1d5bbf;
    --color-blue-30: #114599;
    --color-blue-20: #103570;
    --color-blue-10: #15233b;

    --color-bronze-100: #fcf2e6;
    --color-bronze-90: #fad8af;
    --color-bronze-80: #f5bc76;
    --color-bronze-70: #e89c3f;
    --color-bronze-60: #cf7911;
    --color-bronze-50: #ad5f00;
    --color-bronze-40: #8a4d03;
    --color-bronze-30: #693d07;
    --color-bronze-20: #4d2f0b;
    --color-bronze-10: #33210c;

    --color-dusk-100: #f4f2f7;
    --color-dusk-90: #e3dcf7;
    --color-dusk-80: #cec2f0;
    --color-dusk-70: #b5a6e3;
    --color-dusk-60: #9886cf;
    --color-dusk-50: #7a68b3;
    --color-dusk-40: #645396;
    --color-dusk-30: #4f4178;
    --color-dusk-20: #3a3154;
    --color-dusk-10: #282436;

    --color-gray-100: #f5f7fa;
    --color-gray-90: #ebeff5;
    --color-gray-80: #dde3ed;
    --color-gray-70: #c8d1e0;
    --color-gray-60: #afbacc;
    --color-gray-50: #8e99ab;
    --color-gray-40: #707a8a;
    --color-gray-30: #58606e;
    --color-gray-20: #434a54;
    --color-gray-10: #333840;

    --color-green-100: #e1faeb;
    --color-green-90: #abedc5;
    --color-green-80: #7ddba3;
    --color-green-70: #57c282;
    --color-green-60: #3ba164;
    --color-green-50: #2a854e;
    --color-green-40: #20693d;
    --color-green-30: #1a5230;
    --color-green-20: #153d25;
    --color-green-10: #112b1b;

    --color-indigo-100: #f2f2fc;
    --color-indigo-90: #dcdcfc;
    --color-indigo-80: #c2c2fc;
    --color-indigo-70: #a7a7fa;
    --color-indigo-60: #8585f2;
    --color-indigo-50: #6767e6;
    --color-indigo-40: #4d4dd1;
    --color-indigo-30: #3737b3;
    --color-indigo-20: #28288a;
    --color-indigo-10: #202057;

    --color-magenta-100: #faf0f4;
    --color-magenta-90: #fad4e4;
    --color-magenta-80: #fab4d1;
    --color-magenta-70: #f78bb8;
    --color-magenta-60: #ed5393;
    --color-magenta-50: #d6246e;
    --color-magenta-40: #b01355;
    --color-magenta-30: #8a1244;
    --color-magenta-20: #611535;
    --color-magenta-10: #421527;

    --color-purple-100: #f5f0fa;
    --color-purple-90: #ead9fa;
    --color-purple-80: #dabcf7;
    --color-purple-70: #c79bf2;
    --color-purple-60: #ae74e8;
    --color-purple-50: #9656d6;
    --color-purple-40: #7d3cbd;
    --color-purple-30: #642b9e;
    --color-purple-20: #4b2175;
    --color-purple-10: #371c52;

    --color-red-100: #faf0f0;
    --color-red-90: #fad4d4;
    --color-red-80: #fab6b6;
    --color-red-70: #fa8e8e;
    --color-red-60: #f55353;
    --color-red-50: #de1b1b;
    --color-red-40: #b80d0d;
    --color-red-30: #8f0e0e;
    --color-red-20: #661414;
    --color-red-10: #451717;

    --color-sky-100: #e8f4fa;
    --color-sky-90: #bbe5fa;
    --color-sky-80: #8dd4f7;
    --color-sky-70: #53baed;
    --color-sky-60: #229ad6;
    --color-sky-50: #0c7bb3;
    --color-sky-40: #066391;
    --color-sky-30: #064d70;
    --color-sky-20: #093952;
    --color-sky-10: #0c2938;

    --color-slate-100: #edf4f7;
    --color-slate-90: #cbe3f5;
    --color-slate-80: #a7ceeb;
    --color-slate-70: #84b7db;
    --color-slate-60: #5e95bd;
    --color-slate-50: #48799c;
    --color-slate-40: #376180;
    --color-slate-30: #2d4d63;
    --color-slate-20: #243947;
    --color-slate-10: #1d2830;

    --color-teal-100: #e4f7f6;
    --color-teal-90: #a8ede9;
    --color-teal-80: #6cd9d2;
    --color-teal-70: #45bfb7;
    --color-teal-60: #28a199;
    --color-teal-50: #17827b;
    --color-teal-40: #116963;
    --color-teal-30: #0d524d;
    --color-teal-20: #0b3d3a;
    --color-teal-10: #092b29;

    --color-white: #1d1f24;
    --color-black: #ffffff;
    --color-transparent: rgba(0, 0, 0, 0);
  }
}
