<main role="main" class="bg-white">
  <p class="bg-bronze-20 text-bronze-80 rounded relative text-center font-bold" role="alert" phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="bg-red-20 text-red-80 rounded relative text-center font-bold" role="alert" phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>